<ion-header class="ion-no-border">
  <ion-toolbar [color]="'primary'"> <!-- Color fijo (celeste tipo hospital) -->
    <ion-buttons slot="start">
      <!-- === Cerrar modal ===-->
      <ion-button (click)="dismissModal()" *ngIf="isModal">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>

      <!-- === Back button ===-->
      <ion-back-button *ngIf="backButton" [defaultHref]="backButton"></ion-back-button>
    </ion-buttons>

    <ion-title *ngIf="title" [ngClass]="{'ion-text-center': centerTitle}">{{title}}</ion-title>

    <!-- No se necesita botón para cambiar tema -->
  </ion-toolbar>
</ion-header>
