

.sign-up{
    padding: 15px;
}

ion-button{
    width: 170px;
}

@media (min-width: 769px){

    form{
        width: 500 px;
        padding: 50px 10px;
    }
}

/* Estilo de la imagen */
.login-image {
  width: 200px;  /* Tamaño reducido de la imagen */
  height: 200%;  /* Tamaño reducido de la imagen */
  border-radius: 50%;  /* Hacemos que la imagen sea circular */
  object-fit: cover;
  margin-bottom: 15px;  /* Espacio entre la imagen y el título */
}
